<div class="row justify-content-center">
    <div class="col-lg-12 my-4">
        <h4 class="text-center">Angular</h4>
        <h4 class="text-center">CDK ALL</h4>
        <div class="text-center mt-3">
            <div class="row">
                <div class="col-lg-2">
                    <button type="button" class="btn btn-primary" [routerLink]="['/accessibility']">
                        Accessibility
                    </button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-secondary" [routerLink]="['/Accordian']">
                        Accordian
                    </button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-success" [routerLink]="['/clipboard']">
                        Clipboard
                    </button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-danger" [routerLink]="['/dragAndDrop']">
                        Drag And Drop
                    </button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-warning" [routerLink]="['/OverlayModule']">
                        Overlay Module
                    </button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-info" [routerLink]="['/platform']">
                        Platform
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-light" [routerLink]="['/portals']">
                        Portals
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-dark" [routerLink]="['/scrolling']">
                        Scrolling
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-link" [routerLink]="['/stepper']">
                        Stepper
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-primary" [routerLink]="['/table']">
                        Table
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-secondary" [routerLink]="['/textarea']">
                        TextArea
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-success" [routerLink]="['/tree']">
                        Tree
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 my-4">
        <h4 class="text-center">Angular</h4>
        <h4 class="text-center">Components ALL</h4>
        <div class="text-center mt-3">
            <div class="row">
                <div class="col-lg-2">
                    <button type="button" class="btn btn-primary" [routerLink]="['/autocomplete']">
                        Autocomplete
                    </button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-secondary" [routerLink]="['/badge']">
                        Badge
                    </button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-success" [routerLink]="['/bottom-sheet']">
                        Bottom Sheet
                    </button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-danger" [routerLink]="['/button']">
                        Button
                    </button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-warning" [routerLink]="['/button-toggle']">
                        Button Toggle
                    </button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-info" [routerLink]="['/card']">
                        Card
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-light" [routerLink]="['/checkbox']">
                        Check box
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-dark" [routerLink]="['/chip']">
                        Chip
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-link" [routerLink]="['/datePicker']">
                        DatePicker
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-primary" [routerLink]="['/modal']">
                        Modal
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-secondary" [routerLink]="['/divider']">
                        Divider
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-success" [routerLink]="['/expansion-panel']">
                        Expansion Panel
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-danger" [routerLink]="['/form']">
                        Form
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-warning" [routerLink]="['/grid']">
                        Grid
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-info" [routerLink]="['/icon']">
                        Icon
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-light" [routerLink]="['/input']">
                        Input
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-dark" [routerLink]="['/list']">
                        List
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-link" [routerLink]="['/menu']">
                        Menu
                    </button>
                </div>                
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-primary" [routerLink]="['/paginator']">
                        Paginator
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-secondary" [routerLink]="['/progress']">
                        Progress
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-success" [routerLink]="['/progress-spinner']">
                        Progress Spinner
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-danger" [routerLink]="['/radio']">
                        Radio
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-warning" [routerLink]="['/ripple']">
                        Ripple
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-info" [routerLink]="['/select']">
                        Select
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-light" [routerLink]="['/sideNav']">
                        SideNav
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-dark" [routerLink]="['/slide-toggle']">
                        Slide Toggle
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-link" [routerLink]="['/slider']">
                        Slider
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-primary" [routerLink]="['/snake']">
                        Snake
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-secondary" [routerLink]="['/sort-header']">
                        Sort Header
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-success" [routerLink]="['/stepper-Material']">
                        Stepper Material
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-danger" [routerLink]="['/table-material']">
                        Table Material
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-warning" [routerLink]="['/tabs']">
                        Tabs
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-info" [routerLink]="['/toolbar']">
                        Toolbar
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-light" [routerLink]="['/matTooltip']">
                        MatTooltip
                    </button>
                </div>
                <div class="col-lg-2 mt-4">
                    <button type="button" class="btn btn-dark" [routerLink]="['/tree-materual']">
                        Tree Materual
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>